.content{
    border: 2px solid rgba(17, 17, 17, 0.05);
    margin: 30px;
}
.content img {
    width: 845px;
    height: 450px;

}
.creator-profile img{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.creator-profile{
    display: flex;
    align-items: center;
    
}
.publisher{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.blog-read{
 margin-bottom: 20px;
 background-color: white;
}